<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

    <body>
        <p>
  <strong>Commenter:</strong>
  <%= comment.user %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.comment %>
</p>
    </body>
</html>
